    {% extends "_base.html" %} {# Hereda de tu plantilla base #}
    {% load static i18n account %} {# Carga las etiquetas necesarias #}
    
    {% block title %}{% trans "Confirmar Dirección de E-mail - MexTur" %}{% endblock %}
    
    {% block content %}
    <div class="container-register" > {# Reutiliza estilo de registro o crea uno nuevo #}
        <h1 class="register-title">{% trans "Confirmar Dirección de E-mail - MexTur" %}</h1>
    
        {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            <p class="text-center mb-4">{% blocktrans with confirmation.email_address.email as email %}Por favor, confirma que <a href="mailto:{{ email }}">{{ email }}</a> es una dirección de correo electrónico para el usuario <strong>{{ user_display }}</strong>.{% endblocktrans %}</p>
    
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <div class="d-grid">
                    <button type="submit" class="btn btn-register" id="submit-btn">
                        <span>{% trans 'Confirmar' %}</span>
                    </button>
                </div>
            </form>
        {% else %}
            {% url 'account_email' as email_url %}
            <p class="text-center alert alert-danger">{% blocktrans %}Este enlace de confirmación por correo electrónico ha caducado o no es válido. Por favor, <a href="{{ email_url }}">emita una nueva solicitud de confirmación por correo electrónico</a>.{% endblocktrans %}</p>
        {% endif %}
    </div>
    {% endblock %}
    
