{% load static %}

<div class="menu-lateral p-3 bg-white rounded-4 shadow-sm">
    <ul class="list-unstyled mb-0">
        <li class="mb-3">
            <a href="{% url 'home' %}" class="menu-item text-decoration-none d-flex align-items-center text-dark">
                <i class="fa-solid fa-house"></i> <span class="ms-2">Inicio</span>
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'profile_view' user.username %}"
                class="menu-item text-decoration-none d-flex align-items-center text-dark">
                <i class="fa-solid fa-user"></i> <span class="ms-2">Perfil</span>
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'messaging:inbox' %}"
                class="menu-item text-decoration-none d-flex align-items-center text-dark">
                <i class="fa-solid fa-envelope"></i> <span class="ms-2">Mensajes</span>
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'itineraries:my_itineraries' %}" class="menu-item text-decoration-none d-flex align-items-center text-dark">
                <i class="fa-solid fa-map-location-dot"></i> <span class="ms-2">Mis Itinerarios</span>
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'saved_posts_view' %}"
                class="menu-item text-decoration-none d-flex align-items-center text-dark">
                <i class="fa-solid fa-bookmark"></i> <span class="ms-2">Guardados</span>
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'friend_requests_view' %}"
                class="menu-item text-decoration-none d-flex align-items-center text-dark">
                <i class="fa-solid fa-users"></i> <span class="ms-2">Amigos</span>
            </a>
        </li>
    </ul>
</div>