{% load static %}
<footer class="footer-global">
    <div class="footer-contenido">
        <div class="footer-seccion footer-logo-tagline">
            <h3 class="footer-logo"><span class="footer-logo-mex">MEX</span><span class="footer-logo-tur">TUR</span></h3>
            <p>Explora los destinos más increíbles de México con nosotros</p>
        </div>
        <div class="footer-seccion footer-enlaces">
            <h3>Enlaces</h3>
            <nav>
                <a href="{% url 'home' %}">Inicio</a>
                <a href="#">Destinos</a>
                <a href="#">Paquetes</a>
            </nav>
        </div>
        <div class="footer-seccion footer-contacto">
            <h3>Contacto</h3>
            <p>+525572345678</p>
            <p>info@mextur.com</p>
            <p>Ciudad de México</p>
        </div>
    </div>
    <div class="copyright">© 2025 MexTur. Todos los derechos reservados</div>
</footer>
